---
id: {{ frontend_id }}
slug: {{ slug }}
title: "{{ title }}"
difficulty: {{ difficulty }}
url: "{{ url }}"
tags:
{% for tag in tags %}
  - {{ tag.slug }}
{% endfor %}
{% if submission and submission.submission_date %}
solved_date: {{ submission.submission_date.strftime('%Y-%m-%d %H:%M:%S') }}
{% endif %}
---

# {{ frontend_id }}. {{ title }}

---

## 📝 Problem Statement

{{ content }}

---

## 💡 Latest Accepted Solution

{% if submission and submission.code %}
> **Language:** `{{ submission.lang }}`  
{% endif %}
{% if submission.submission_date %}> **Submitted:** {{ submission.submission_date.strftime('%B %d, %Y at %I:%M %p') }}
{% endif %}

```{{ submission.lang | lower | replace("python3", "python") }}
{{ submission.code }}
```
